@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}

.places article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  border: 1px solid #FF5A5F;
  box-sizing: border-box;
}

.places h1 {
  width: 100%;
  font-size: 30px;
  padding-left: 20px;
  margin: 10px auto auto;
}

.places h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}
/* ************************************************** */
/* article information */
/* ************************************************** */

/* circle with price */
.article_places_header {
  width: 100%;
  display: flex;
}

.price_by_night {
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
    transition: 0.2s ease-in-out;
}
/* ******************************************/
/* ARIA
/* ******************************************/
.price_by_night:hover,
.price_by_night:focus {
  background-color: antiquewhite;
  transform: scale(1.1);
  font-weight: bold;
  border: 2px dotted;
  transition: 0.2s ease-in-out;
}

article:hover,
article:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease-in-out;
}
/* ******************************************/
/* information box with icons */
/* ******************************************/

.information {
  width: 100%;
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user {
  padding: 20px 0 5px;
}
.user b, p {
  margin: 0;
  padding: 0;
}

/***********/
/* icons   */

.max_guest {
  background-image: url(../images/icon_group.png);
}

.number_rooms {
  background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
  background-image: url(../images/icon_bath.png)
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 33%;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column-reverse;
  background-position-x: center;
  text-align:center;
}

/*******************************************/
/* more information */
/*******************************************/
.places .amenities,
.places .reviews {
  margin-top: 40px;
  width: 100%;
  height: inherit;
}

.places .amenities ul,
.places .reviews ul {
  list-style-type: none;
  padding: 0;
}

.places .amenities h2,
.places .reviews h2 {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
}

.places .reviews h3 {
  font-size: 14px;
}

.places .reviews p {
  font-size: 12px;
}
/*******************************************/
/* amenities icons */
/*******************************************/
.places .amenities ul li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 10px;
  align-items: end;
  }

.places_amenities_pet_friendly {
  background-image: url(../images/icon_pets.png);
}
.places_amenities_tv {
  background-image: url(../images/icon_tv.png);
}
.places_amenities_wifi {
  background-image: url(../images/icon_wifi.png);
}

.places_amenities_pet_friendly,
.places_amenities_tv,
.places_amenities_wifi {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) */
header {
    z-index: 4;
    color: #fff;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    text-align: left;
  }
  /*****************************************************************/
  /* rotate burguer
  /*****************************************************************/
  
  .main_nav_burguer {
    margin: .6rem 0 0 1rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: bolder;
    transform: rotate(90deg);
    color: lightslategray;
    transition: .2s ease-in-out;
  }
  
  .main_nav_burguer:hover {
    cursor: pointer;
    transform: rotate(0deg);
    color: silver;
    transition: .2s ease-in-out;
  }
  
  /* accesibility focus ARIA */
  .main_nav_burguer:focus {
    background-color: antiquewhite;
  }
  
  #main_check:checked {
    cursor: pointer;
    transform: rotate(0deg);
    color: silver;
    transition: .2s ease-in-out;
  }
  
  /*****************************************************************/
  /* popup first level menu
  /*****************************************************************/
  .nav_bar_level1 {
    width: 0%;
    height: 0%;
    border-radius: 4px;
    transition: .2s ease-in-out;
    background-color: aliceblue;
  }
  /* hide checkbox */
  input {
    display: none;
  }
  /* hide second level */
  .nav_bar_level1 li ul {
    display: none;
  }
  
  /* hide first level */
  .nav_bar_level1 li{
    display: none;
  }
  
  /* display first level */
  #main_check:checked ~ * .nav_bar_level1 {
    display: block;
  }
  /* display first level title*/
  #main_check:checked ~ * .nav_bar_level1 li {
    display: block;
    font-size: 1.3rem;
    margin: .5rem;
    color: lightslategray;
    font-weight: bold;
    transition: .5s ease-in-out;
  }
  /* hover link menu */
  .nav_bar_level1 li label span:hover,
  ul li span:hover
   {
    background-color: #434343;
    display: inline-block;
    width: 100%;
    padding: .2rem 1rem;
    border-radius: 4px;
    color: #FAFAFA;
    cursor: pointer;
  }
  /* display first level background */
  #main_check:checked ~ * .nav_bar_level1
  {
    display: block;
    margin: 1rem;
    padding: .8rem;
    flex-direction: column;
    transition: .3s ease-in-out;
    width: 50vw;
  }
  
  /*display second level */
  #second_check:checked  + ul{
    display: block;
  }
  #third_check:checked  + ul{
    display: block;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    header {
        background-position: left;
        background-position-x: 1rem;
    }
    .mobile_nav {
      display: none;
    }
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  @media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
footer {
  clear: left;
  height: 60px;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #484848;
  text-align: center;
}
.filters {
    display: none;
  }
  @media only screen and (max-width: 600px) {
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .filters {
      height: 70px;
      width: 100%;
      border: 1px solid #DDDDDD;
      border-radius: 4px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }
  
    button {
      font-size: 18px;
      background-color: #FF5A5F;
      color: #FFF;
      height: 48px;
      width: 20%;
      max-width: 220px;
      border: none;
      border-radius: 4px;
      margin: auto 30px auto auto;
      align-self: center;
    }
  
    button:hover {
      opacity: .9;
      cursor: pointer;
    }
  
    .locations,
    .amenities {
      height: 100%;
      width: 25%;
      /* display: inline-block;
      vertical-align: left; */
      justify-content: center;
      flex-direction: column;
      position: relative;
    }
  
    .locations {
      border-right: 1px solid #DDDDDD;
    }
  
    .locations h3,
    .amenities h3{
      font-weight: 600;
      margin: 1em 0 auto 30px;
    }
  
    .locations h4,
    .amenities h4 {
      font-weight: 400;
      font-size: 14px;
      margin: auto 0 auto 30px;
    }
  /* Focus for ARIA accesibility */
  .locations:focus,
  .amenities:focus {
    background-color: antiquewhite;
  }
  
  article:focus {
    background-color: antiquewhite;
  }
  
    /* ================================================================= */
    /* dropdown menu */
    /* ================================================================= */
  
    .popover {
      border-radius: 4px;
      border: 1px solid #DDDDDD;
      padding: 20px 20px 20px 20px;
      display: none;
      background-color: #FAFAFA;
      margin: 17px 0 0 0;
    }
  
    .popover ul {
      margin-left: 10px;
    }
  
    ul > ul {
      padding: 0;
    }
    .popover li{
      list-style-type: none;
    }
  
    .popover h2 {
      font-size: 16px;
      margin: 5px auto 5px auto;
    }
  
    /* drop down on hover */
  
    .locations:hover,
    .amenities:hover {
      cursor: pointer;
    }
  
    .locations:hover .popover {
      display: block;/****************************************************************************/
      /* reset css */
      /****************************************************************************/
      *{
          margin: 0;
          padding: 0;
          list-style: none;
          text-decoration: none;
          border: none;
          outline: none;
      }
      /****************************************************************************/
      /* common styles */
      /****************************************************************************/
      html {
        box-sizing: border-box;
      }
      
      /****************************************************************************/
      /* mobile first resposive */
      /****************************************************************************/
      
      /* Extra small devices (phones, 600px and down) */
      /* @media only screen and (max-width: 600px) */
      body {
          font-size: 14px;
          font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        width: 100%;
        color: #484848;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      span {
          color: #000000;
      }
      .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 2rem auto;
      }
      
      /*****************************/
      /* index
      /*****************************/
      .container {
          z-index: 0;
      }
      .div_price_by_night {
          z-index: 10;
      }
      * {
          z-index: inherit;
      }
      
      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {
      
      }
      /* Medium devices (landscape tablets, 768px and up) */
      @media only screen and (min-width: 768px) {
      
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
      
          body {
              max-width: 1920px;
              margin: 0 auto;
          }
      }
      
      cursor: pointer;
    }
  
    .amenities:hover .popover {
      display: block;
      cursor: pointer;
    }
  
  }
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  
  }
  